
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #f1f1f1;*/
    background: linear-gradient(to right,#3c1053,#ad5389);
}

.about-section{
    
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}


button{
    bottom:-10%;
    width:90vh;
    height:40px;
    background:#0f0ce060;
    color:rgb(248, 232, 232);
    font-size: 1.1em;
    cursor: pointer;
    border:none;
    transition:all .4s;
    left: 30%;
    position:absolute;
    
}

button:hover{
    border-radius: 5px;
    transform:translate(-10px);
    box-shadow: 0 7px 0 -2px #d60101,
    0 15px 0 -4px #0a0a0a,
    0 16px 10px -3px #0029dd;
}

@media screen and (max-width:1200px){
    button{
        bottom:-10%;
        width:20vh;
        height:40px;
        background:#0f0ce060;
        color:rgb(247, 242, 242);
        font-size: 1.1em;
        cursor: pointer;
        border:none;
        transition:all .4s;
        left: 30%;
        position:absolute;
        
    }
    
    button:hover{
        border-radius: 5px;
        transform:translate(-10px);
        box-shadow: 0 7px 0 -2px #d60101,
        0 15px 0 -4px #0a0a0a,
        0 16px 10px -3px #0029dd;
    }   
}